
body{background-color: #fff;
    font-family:"Roboto";
   margin: 0 auto; ;}
body h2{color: #212121;
    text-align: center;
    font-size: 36px;}
body h3{color: #212121;
    font-size: 14px;
    font-weight: 700;}
body p{color: #757575;
    font-size: 14px;
    font-weight: 400;}
header {border-bottom: 1px solid #ECECEC;}
:root{--link-color:#212121;
    --heading-font-family:"Roboto";
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*Header-section*/

.menu-button {

    position: absolute;
    top: 20px;
    right: 10px;
}

.menu-button svg {
    width: 40px;
    height: 40px;
}
.header-section{
    height: 80px;width:100%;;margin:  0 auto;}
.nav-container{display: none;}
.nav-class{width: 35%;}
.header-section a{text-decoration: none;}
.header-section{display: flex;
    flex-direction: row;
    align-items: center;

    border-bottom: 1px solid #ECECEC;
    }
           
.nav-container ul{display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav-class li{display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;}

.nav-container{display:none}
header .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.icon-nav{display: flex;
    justify-content: baseline;
    width: 16px;
    height: 12px;
    margin-right: 5px;
    align-items: center;
     fill:#757575;
    
     }
.mail-section:hover .icon-nav{fill:#2196F3
}
.mail-section:hover .mail{color: #2196F3;}
.number-section:hover .icon-nav{fill:#2196F3}
.number-section:hover .number{color: #2196F3;}
.mail-section{display: flex;align-items: center;transition: fill var(--transition), color var(--transition);}
.number-section{display: flex;align-items: center;transition: fill var(--transition), color var(--transition);}
/*link-style*/
.button-service{border-radius: 4px; transition: color var(--transition);}
.button-service:hover{background-color:#1588ed;}
.current {color: #2196F3;}
.current:hover{color:#1588ed;
        border-bottom:  4px  solid #2196F3;
        border-radius: 2px;
        padding-bottom: 28px;}
.filter-buttons-section button:hover{ background-color:#2196F3;
    color: #FFF;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);}
.filter-buttons-section button:active{color:#FFF;}
.filter-buttons-section button:focus{background-color:#2196F3;
    color: #FFF;}
.nav-class a:active{color: #2196F3;}

 .address-class a:hover{color: #2196F3;}
.nav-class a:hover{color: #2196F3; 
    text-decoration:none;}
.nav-class a{color: var(--link-color);}
.nav-class{color: #212121;
          font-size: 14px;
          font-weight: 500;
          text-decoration: none;
        transition: color var(--transition);}
.contacts-class a{color: #757575;
    font-size: 14px; 
    text-decoration: none;}

                 
  /*Main-section*/
.main-container{
    margin: auto;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
   
    
     }
     .title-main{ width: 360px;
        color: #FFF;
    
        text-align: center;
        font-family: Roboto;
        font-size: 26px;
        font-style: normal;
        font-weight: 900;
        line-height: 42px;
        letter-spacing: 1.56px;
        text-transform: uppercase;}
    .main-container button{width: 200px;
        font-family: var(--heading-font-family);
        color:#FFF;
        height: 50px;
        border-radius: 4px;
        background: #2196F3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
    
        letter-spacing: 0.96px;}
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .main-container {
                background-image: url('articleImage-t');
                background-size: cover;
                background-repeat: no-repeat;
            }}
 
.main-container{background:linear-gradient(rgba(47, 48, 58, 0.40),
     rgba(47, 48, 58, 0.40))
    ,url(../images/articleImage.jpg);
background-repeat: no-repeat;
   background-position: center;
    background-size: cover;}


     
.main-container{  
    padding-top:  94px;
    padding-bottom: 94px;}

    /* Article-section*/
    .article-container{display: flex;
        flex-direction: row;
        padding-top: 94px;
        padding-bottom: 94px;
        width: 100%;
        
        justify-content: center;
        margin: 0 auto;}
    .article-section{width:100%}
   .article-section {display: none;}
   .article-section-tablet{display: none;}
   .article-list-tablet{display: none;}
   .article-section-mobile ul{display: flex;
    flex-direction: column;
    
    }
  ul.article-list-mobile{width: 100%;padding: 0;justify-content: center;align-items: center;}
   
    .article-section h3{width: 270px;
        height: 17px;}
    .article-section p{width: 270px;
        height: 75px;}
    

  ul{list-style-type: none;}
.article-section p , .persons-class p{color: #757575;
        font-size: 14px;
        font-weight: 400;
        line-height:24px;
            letter-spacing: 0.42px;}
.icon-article{width: 70px;
    height: 70px;}
    .svg-item-mobile{width: 400px;
        height: 120px;border-radius: 4px;
            background: #F5F4FA;
            display: flex;
            justify-content: center;
            align-items: center;}
.svg-item{width: 270px;
    height: 120px;
border-radius: 4px;
    background: #F5F4FA;
  display: flex;justify-content: center;
  align-items: center;}
  .article-item{margin-right: 30px;}
  .article-item-mobile{width:90%;margin-bottom: 30px;margin-left: 15px;margin-right: 15px;}
  .article-item-mobile h3{text-align: center;margin-top: 30px;width: 90%;margin-left: 15px;margin-right: 15px;}
  .article-item-mobile p{color: #757575;

    font-family: var(--heading-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;}
    /*Gallery*/
.gallery-container {display: none;
   
}
.persons-class-tablet{display: none;}
 .card-item{width: 270px;
    height: 428px;box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      border-radius: 0px 0px 4px 4px; }
 .card-person{background-color:#fff ;
    margin: 0 auto;
    width: 270px;
    height: 163px;
  padding-top: 30px; }
.persons-class ul{display: flex;
    flex-direction: row;
justify-content: center;
gap:20px;
padding-left: 0;
 }
.persons-class img{margin: 0;}
.persons-class{width:90%;margin: auto;}

.persons-class{display: none;}
.persons-class-mobile ul{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left:15px;
    padding-right: 15px;}
.persons-class-mobile h3, .persons-class-mobile p{text-align: center;}
    .card-item-mobile{width: 450px;
        height: 622px;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        border-radius: 0px 0px 4px 4px;
    background-color: #fff;}
    .card-person-mobile{width: 450px;}
.team-container{background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
    width:100%;
    margin: 0 ;
    justify-content: center;}
.team-container h2{text-align: center;
    color: #212121;
    font-size: 36px;
    font-weight: 700;margin: 0 auto;
    width: 165px;height: 42px;
    padding-bottom: 60px;}
.persons-class h3 ,.persons-class p{text-align: center;}
.icon-instagram, .icon-facebook, .icon-twitter, .icon-linkedin{width: 20px;
    height: 20px;fill: #afb1b8;}
.social-media{display: flex;
    flex-direction: row;
     justify-content: center;
align-items: center;}
.social-item{width: 44px;
    height: 44px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: background-color var(--transition),
    fill var(--transition), 
    border-radius var(--transition);
}
.social-item:hover .icon-instagram{fill:#fff}
 .social-item:hover{background-color: #2196F3;
    border-radius: 50px;}
 .social-item:hover .icon-facebook{ fill: #fff }
 .social-item:hover .icon-twitter {
     fill: #fff
 }
 .social-item:hover .icon-linkedin {
     fill: #fff
 }

/*regular-section*/
.regular-container h2{color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
margin: 0 auto ;
    height: 42px;
    margin-bottom: 50px
 ;}
 .regular-section{display: none;}
 .regular-section-tablet{display: none;}
 
 .regular-section ul{display: flex;
    flex-direction: row;
    justify-content:center;
   margin: 0 auto;padding: 0;}
    .regular-section-mobile{display: block;}
    .regular-section-mobile ul{width: 100%;padding:0;
        display:flex;flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    align-items: center;gap: 30px;}
 .logo-item{width: 170px;
    height: 92px; border-radius: 4px;
        border: 1px solid #AFB1B8;
    transition: fill var(--transition),border var(--transition);
   }
.logo-item-mobile{width: 210px;
    height: 92px;border-radius: 4px;
        border: 1px solid #AFB1B8;
        transition: fill var(--transition), border var(--transition);
        margin-bottom: 30px;
    display: flex;justify-content: center;
align-items: center;}
 .icon-logo{width: 106px;
    height: 60px;
    fill:#afb1b8}
.logo-item:hover{border: 1px solid #2196F3; border-radius: 4px;}
 .logo-item:hover .icon-logo{fill: #2196F3;}
 .logo-item-mobile:hover{border: 1px solid #2196F3;
    border-radius: 4px;}
 .logo-item-mobile:hover .icon-logo{fill: #2196F3;}
.regular-container{padding-top: 94px;
    padding-bottom: 94px;}
.logo-item{display:flex;
    justify-content: center;
    align-items: center;margin-left: 30px;}
 /*Footer-section*/
 .footer-container{display: none;
}
.footer-container-tablet{display: none;}
.footer-container-mobile{display:flex;background: #2F303A;width: 100%;
    padding-top: 94px;
    padding-bottom: 94px;
flex-direction: column;
justify-content: center;
align-items: center;}
.mobile-footer{text-align: center;display: flex;justify-content: center;flex-direction: column;align-content: center;align-items: center;}
.title-footer-mobile{text-align: center;margin-bottom: 0;}
.title-footer-mobile a{text-decoration: none;}
.mobile-footer a{text-decoration: none;}
.title-footer{width: 145px;
    height: 30px ;
    padding-left: 110px;
    margin: 0 ;
    padding-bottom: 28px;}
    .find-section-mobile{text-align: center;margin-top: 60px;margin-bottom: 60px;}
    .find-section-mobile h3{color: #FFF;}
    .input-email-mobile{color: rgba(255, 255, 255, 0.60);
        background-color: #2F303A;
        font-family: var(--heading-font-family);
        border: 1px solid rgba(255, 255, 255, 0.30);
        border-radius: 4px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    
        letter-spacing: 0.48px;width: 450px;
            height: 50px;}

                     .subscribe-btn-mobil  { border-radius: 4px;
                        background-color: #2196F3;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
                        color: #FFF;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 30px;
                        letter-spacing: 0.96px;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        width: 200px;
                            height: 50px;
                            margin-top: 20px;
                        }
            
                        .subscribe-btn-mobil:hover {
                            background-color: #188CE8;
                        }
            
                        .subscribe-btn-mobil {
                            transition: background-color var(--transition);
                        }
    .subscribe-container-mobile{display: flex;flex-direction: column;justify-content: center;align-items: center;}
    .address-class-mobile{padding: 0;color: rgba(255, 255, 255, 0.60);
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;}
                .address-class-mobile a {
                    color: rgba(255, 255, 255, 0.60);
                    text-decoration: none;
                }
.footer-container{background: #2F303A;}
.footer-container a{text-decoration: none;}
.address-class {color: rgba(255, 255, 255, 0.60);
     font-size: 14px;
     font-weight: 400;
    line-height: 14px;
    margin-left: 25px;
    padding-left: 110px;margin: 0;}
.address-class a{color: rgba(255, 255, 255, 0.60);
    text-decoration: none;}

.find-section h3{color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0;
    
    
    }
.find-section{width: 30%;
margin-left: 94px;}
.social-media-footer{display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;}
.social-item-footer{width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
 background-color:  rgba(255, 255, 255, 0.10);
 margin-right: 10px;
transition: background-color var(--transition),
        fill var(--transition),
        border-radius var(--transition)}
.social-item-footer:hover{background-color: #2196F3;
    border-radius: 50px;
    }
.social-item-footer:hover .icon-instagram{fill: #FFF;}
.social-item-footer:hover .icon-facebook {
    fill: #FFF;
}
.social-item-footer:hover .icon-twitter{
    fill: #FFF;
}
.social-item-footer:hover .icon-linkedin {
    fill: #FFF;
}
 /*Subscribe-section*/
 .subscribe-btn{width: 200px;
height: 50px;
border-radius: 4px;
background-color: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
color: #FFF;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.96px;
display: flex;
justify-content: space-evenly;
align-items: center;}
.subscribe-btn:hover{background-color: #188CE8;}
.subscribe-btn{transition: background-color var(--transition);}
.subscribe-newsletter svg{
    width: 24px;
    height: 24px;
    fill:#FFF
    
}
.subscribe-container{display: flex;
align-items: center;
gap: 12px;}
.title-subscribe{
    color: #FFF;
     font-family: var(--heading-font-family);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
}
.input-email{
    width: 358px;
        height: 50px;
        color: rgba(255, 255, 255, 0.60);
        background-color: #2F303A;
        font-family:var(--heading-font-family);
    border: 1px solid rgba(255, 255, 255, 0.30);
    border-radius: 4px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        
            letter-spacing: 0.48px;
            padding-left: 16px;
            
           
}
.subscribe-btn svg{fill:#FFF}
.subscribe-newsletter{display:flex;justify-content: center;align-items:baseline;}
/* Portfolio file*/

.web-section-portfolio{color: #2196F3;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    text-decoration-line: none;
    padding-left: 95px;}

    /*Products-section*/
.filter-buttons-section-mobile{color: #212121;
    font-size: 16px;
    font-weight: 500;
    line-height: 1, 85%;
    font-family: inherit;
    transition: color var(--transition), background-color var(--transition), border var(--transition);width: 80%;
       }
        .filter-buttons-section-mobile ul{display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 8px;}
    .filter-buttons-section-mobile button{height: 38px;
        width: 96px;
        border-radius: 4px;
        background-color: #F5F4FA;border: none;}
    .filter-objects-section-tablet{display: none;}
                .filter-buttons-section-mobile button:hover {
                    background-color: #2196F3;
                    color: #FFF;
                    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
                }
        
                .filter-buttons-section-mobile button:active {
                    color: #FFF;
                }
        
                .filter-buttons-section-mobile button:focus {
                    background-color: #2196F3;
                    color: #FFF;
                }
.filter-buttons-section{display: none;margin: 0 auto;}

   .filter-buttons-section button{height: 38px;
    width: 96px;
    border-radius: 4px;
    background-color: #F5F4FA
    ;border: none;margin-right: 8px;}
.filter-objects-section h3{color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 2,57%;}
.filter-objects-section p{color: #757575;
    font-size: 16px;
    font-weight: 400px;
    line-height: 2,14%;}
  .filter-buttons-section ul{display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    width: 38%;margin: auto;}
.filter-objects-section {display: none;}
.filter-objects-section-mobile{display: block;margin-top: 40px;}
.filter-objects-section-mobile li{margin-bottom: 30px;}
.product-card-mobile:hover{box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;}
.product-card{width: 370px;
    height: 404px;
transition: box-shadow var(--transition);
;}
.product-card-mobile{width: 450px;}
.filter-objects-section-mobile ul{padding-left:15px;
padding-right: 15px;}
.overlay-box{position: relative;overflow: hidden;}
.overlay{position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
background: rgba(33, 150, 243, 0.90);
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
display: flex;
align-items: center;
justify-content: center;}
.overlay p{color: #FFF;
    font-family:var(--heading-font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    width: 322px;}
.overlay-box:hover .overlay{transform: translate(0);}
.product-card:hover{box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
   cursor: pointer;}
.container-objects{padding-top: 94px;
    padding-bottom: 94px;}
    .text-card{text-align: center;
        background-color: #FFF;
        border-bottom: 1px solid #ECECEC;
        border-left: 1px solid #ECECEC;
        border-right: 1px solid #ECECEC;
        padding-top: 10px;
        height: 110px;}
    .web-section{color: #2196F3;
        font-family: "Raleway";
        font-size: 26px;
        font-weight: 700;
        text-decoration-line: none ;}
    .studio-section{color: #000;
        font-family: "Raleway";
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 0.78px;}
    .studio-section-footer{color: #FFF;
        font-family:"Raleway" ;
        font-size: 26px;
        font-weight: 700;}
    .web-section{text-decoration-line: none;}

   /* Modal-section*/
   .modal {
       position: fixed;
       width: 100vw;
       height: 100vh;
       top: 0;
       left: 0;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: rgba(0, 0, 0, 0.2);
       display: flex;
       justify-content: center;
       align-items: center;
    
   }
   .modal-content{-webkit-animation-name: animatetop;
    -webkit-animation-duration: 2500ms;
    animation-name: animateopacity;
    animation-duration: 2500ms;
}
   .modal-content {
       background-color: #FFF;
    width: 581px;
        height: 581px;
        position: relative;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);       
        padding: 40px; 
        
   }
   .is-hidden {
       visibility:hidden;
        opacity: 0;
       pointer-events: none;
   }
   .close-btn {
      box-sizing: content-box;
      height: 18px;
      width: 18px;
      padding: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
       border-radius:50% ;
    
       cursor: pointer;
       position: absolute;
       top:8px;
       right:8px;

   }
   .close-btn:hover{fill:#2196F3}
   /*animation*/
   @-webkit-keyframes animateopacity {
       from {
           top: -300px;
           opacity: 0
       }

       to {
           top: 0;
           opacity: 1
       }
   }

   @keyframes animateopacity {
       from {
           top: -300px;
           opacity: 0
       }

       to {
           top: 0;
           opacity: 1
       }}
    
    /*Form-section*/
    .contact-form{display: flex;
    flex-direction: column;
     gap: 10px;}
    .input-container{display: flex;
    flex-direction: column;
    gap:4px;
    position: relative;
    
 }
    
     .input-container svg{width: 18px;
     height: 18px;
    position:absolute;
     top:calc(50% - 9px);
    left: 12px;}
    .textfield{height: 40px;
    padding: 11px 12px 11px 42px}
   
    


   textarea{ height: 120px;
padding: 12px 16px;border-radius:4px ;border: 1px solid rgba(33, 33, 33, 0.2);width: 448px;
}
   
input:focus,
textarea:focus{border: 1px solid rgba(33,150,243,1);outline: none;}
.input-container:focus .icon-form{fill :rgba(33, 150, 243, 1);transition: fill var(--transition);}

label{
    color: #757575;
     font-family: var(--heading-font-family);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.12px;
}
legend{color: #212121;
 text-align: center;
    font-family:var(--heading-font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;}
.button-form{width: 200px;
    height: 50px;display: flex;
justify-content: center;text-align: center;
border-radius: 4px;
    background: #188CE8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);color: #FFF;
font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    padding-left: 12px;
    letter-spacing: 0.96px;}
.button-modal{display: flex;justify-content: center;align-items: center;}
.button-form:hover{background-color:#1588ed;}
.button-form{transition: background-color (var(--transition));}

.terms-and-conditions-container{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 8px;
    cursor: pointer;
    align-items: center;
    margin: 0 auto;

}
.terms-and-conditions{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:8px;
}
.terms-and-conditions-label span{
    font-family: var(--heading-font-family);
    font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #757575;
}


.terms-and-conditions-label span a{color: #2196F3;}
.terms-and-conditions-label svg{
    width: 13px;
    height: 13px;
    top:5px;
        position: absolute;
   left: 0;

     
   

}
.terms-and-conditions-check:not(:checked){visibility: hidden;}
.terms-and-conditions-check:checked +label >svg{display: none;}
input[type='checkbox'] {
    accent-color:#2196f3;}
        .js-menu-container {
            display: none;
        }
    
        .js-menu-container.is-open {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            right: 0;
            background-color: #FFF;
            height: 100%;
            width: 100%;
           padding: 10px 15px;
            z-index: 1;
        }
    
        .js-menu-container .js-close-menu {
            border: none;
            background: none;
            cursor: pointer;
            width: 40px;
            height: 40px;
           position: absolute;
           top: 10;
           right: 15px;
            
        }
    
        .js-menu-container .js-close-menu svg {
            width: 40px;
            height: 40px;
        }
        .js-close-menu svg:hover{fill: #2196F3;}
        .js-open-menu svg:hover{fill:#2196F3}
    
        .menu-drawer-navigation {
            display: flex;
            flex-direction: column;
    
        }
        .menu-drawer-navigation li{width: 139px;
            height: 48px;
        font-family: var(--heading-font-family);
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.8px;
            color: #000;
            margin-bottom: 30px;
        list-style-type: none;
        }
        .menu-drawer-navigation li a:hover{color: #2196F3;}
        .menu-drawer-navigation a{color: #000;
        text-decoration: none;}
        .menu-drawer-navigation ul{margin-top: 48px;margin-left: 25px;padding: 0;
    }
        .contact-class-mobile{display: flex;
        flex-direction: column;
    margin-top: 306px;
    margin-left: 25px;
         gap: 32px;}
        .number-mobile {color: #2196F3;
            font-family: var(--heading-font-family);
            font-size: 34px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.68px;}
       a.number-mobile{color: #2196F3;}
       .mail-mobile{
         font-family: var(--heading-font-family);
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.48px;}
            a.mail-mobile{color: #757575;}

        .social-media-mobile{
        margin-top: 64px;
        margin-bottom: 38px;}
        .social-media-mobile ul{display: flex;
        flex-direction: row;
    color: #2196F3;
    
        font-family: var(--heading-font-family);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.36px;
    padding: 0;margin-left: 25px;}
        .dash-mobile{padding: 5px 5px ;
        width: 1px;
            height: 22px;
        color: rgba(33, 33, 33, 0.20);
        }
    /*Tablet*/
@media screen and (min-width:768px) {.header-section{display: flex;justify-content: space-around;}
    .nav-container {
        width: 80%;
        align-items: center;
    }


    .nav-container {
        display: flex;
        justify-content: space-around
    }
    .menu-button{display: none;}
    
    .contacts-class{display: flex;flex-direction: column;margin-right: 15px;}
        .contacts-class a {
            color: #757575;
            font-size: 14px;
            text-decoration: none;
        }
        .js-menu-container{display: none;}

.main-container {
    background: linear-gradient(rgba(47, 48, 58, 0.40),
            rgba(47, 48, 58, 0.40)), url(../images/articleImage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.title-main{color: #FFF;
    width: 360px;
    text-align: center;
    font-family: var(--heading-font-family);
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 42px;
  
    letter-spacing: 1.56px;
    text-transform: uppercase;}
.main-container button{width: 200px;
    height: 50px;
background-color: #2196F3;
color: #FFF;
font-family: var(--heading-font-family);
color: #FFF;
    text-align: center;
    font-weight: 700;
    line-height: 2, 14%;
    background-color: #2196F3;
    font-size: 16px;
    width: 200px;
    height: 50px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);}
.main-container button:hover{background-color: #1588ed;}
    .gallery-container{display: none;}
.article-section-mobile{display: none;}
.article-section-tablet{display: flex;padding-left: 10px;
flex-direction: row;
width: 100%;}
 .article-item-tablet {
     width: 354px;
 }

 .article-item-tablet h3 {
     margin-top: 30px;
 }

 .article-item-tablet p {
     width: 354px;
    color: #757575;
    
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
        letter-spacing: 0.42px;
 }
 .svg-item-tablet{width: 354px;height:120px;display:  flex;justify-content: center;align-items: center;border-radius: 4px;
    background: #F5F4FA;}
  .article-list-tablet  {
       margin: 0 auto;
     width: 100%;
       padding-left: 0 auto;
   }
ul.article-list-tablet{display: flex;flex-wrap:wrap ;gap: 30px;justify-content: center;padding: 0;}
 .article-section-tablet {
     display: flex;
     flex-direction: row;
     justify-content: center;
     justify-content: space-around;
    
   
     width: 100%;
     margin: 0 auto;
    
     
 }
  .persons-class-mobile{display: none;}
  .persons-class-tablet{display: block;}
  .persons-class-tablet ul{padding: 0 ;display: flex;
    flex-direction: row;
    flex-wrap: wrap;
justify-content: center;
gap: 30px;}
  .card-person-tablet{width: 354px;text-align: center;}
  .card-item-tablet{background-color: #FFF;justify-content:center;align-items: center;width: 354px;
    height: 536px;}

.regular-section-mobile{display: none;}
.regular-section-tablet{display:block;}
.regular-section-tablet ul{width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;}
.logo-item-tablet{width: 226px;
    height: 92px;border-radius: 4px;
        border: 1px solid #AFB1B8;
        transition: fill var(--transition), border var(--transition);
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;}
                .logo-item-tablet:hover {
                    border: 1px solid #2196F3;
                    border-radius: 4px;
                }
        
                .logo-item-tablet:hover .icon-logo {
                    fill: #2196F3;
                }
.footer-container-mobile{display: none;}
.footer-container-tablet{display: flex;
    background: #2F303A;
    width: 100%;
    padding-top: 94px;
    padding-bottom: 94px;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
    .tablet-footer{display: flex;flex-direction: row;width: 100%;justify-content: space-around;}
    .filter-buttons-section-mobile{display: none;}
  
          .filter-buttons-section  {
              display: block;
              color: #212121;
              font-size: 16px;
              font-weight: 500;
              line-height: 1, 85%;
              font-family: inherit;
              transition: color var(--transition), background-color var(--transition), border var(--transition);
          }
          .filter-buttons-section ul{justify-content: center;
            align-items: center;display: flex;}
            .filter-objects-section-mobile{display: none;}
                        filter-objects-section {
                            display: flex;
                            flex-direction: row;
                        }
                        .filter-objects-section{display:none;}
            .filter-objects-section-tablet{display: block;}
            .filter-objects-section-tablet ul{display: flex;flex-wrap: wrap;padding: 0;justify-content: center;align-items: center;gap: 30px;margin-top: 30px;}
            
            .product-card-tablet{width:354px;margin-bottom: 30px;
            }
            .product-card-tablet:hover{box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;}
}

/*Desktop*/
@media screen and (min-width:1158px){.header-section {
        display: flex;
        justify-content: space-around;
    }
    .logo{margin-left: 50px;}
    .nav-container {
            width: 80%;
            align-items: center;
        }
                .nav-container {
                    display: flex;
                    justify-content: space-between;
                }
                                .contacts-class {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: flex-end;
                                    align-items: end;
                                    align-content: space-between;
                                }
                
                                .contacts-class {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    margin-right: 215px;
                                    gap: 20px;
                
                                }
                                                                .contacts-class a {
                                                                    color: #757575;
                                                                    font-size: 14px;
                                                                    text-decoration: none;
                                                                }
        .js-menu-container{display:none;}
        .menu-button{display: none;}

.main-container {
    background: linear-gradient(rgba(47, 48, 58, 0.40),
            rgba(47, 48, 58, 0.40)), url(../images/articleImage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.title-main {
    color: #fff;
    ;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 4, 28%;
    text-transform: uppercase;
    width: 696px;
    height: 120px;
    align-content: center;
    letter-spacing: 2.64px;
    align-items: center;
    margin-top: 106px;
}
.main-container button {
    color: #FFF;
    text-align: center;
    font-weight: 700;
    line-height: 2, 14%;
    background-color: #2196F3;
    font-size: 16px;
    width: 200px;
    height: 50px;
    margin-bottom: 116px;
}
.main-container button:hover {
    background-color: #1588ed;
}
                          
        .gallery-container {
            display: block;
            padding-top: 94px;
            padding-bottom: 94px;
            width: 1200px;
            margin: 0 auto;
        }
    
        .gallery-section {
            width: 100%;
        }
    
        .gallery-section ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 50px;
            gap: 30px;
        }
    
        .gallery-section h2 {
            color: #212121;
            text-align: center;
            font-size: 36px;
            font-weight: 700;
        }
    
        .gallery-section {
            display: flex;
            flex-direction: row;
        }
    
        .images-item {
            position: relative;
            height: 294px;
        }
    
        .card-what-we-do {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 78px;
            background-color: rgba(47, 48, 58, 0.80);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .card-what-we-do h3 {
            color: #FFF;
            color: #FFF;
            text-align: center;
            font-family: var(--heading-font-family);
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.42px;
            text-transform: uppercase;
        }
        .article-section-mobile{display: none;}
        .article-section-tablet{display: none;}
                 .article-section ul {
                     display: flex;
                     flex-direction: row;
                     justify-content: center;
                     justify-content: space-around;
                 padding: 0;
                    margin: 0 auto;
                    
                 }
                ul.article-list {margin: 0 auto;width: 100%;padding: 0 auto;}
                .article-section{display: block;
                margin: 0 auto;
            width: 80%;}
            .persons-class-tablet{display: none;}
                .persons-class-mobile{display:none;}
                               .persons-class ul {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    gap: 20px;
                                    padding-left: 0;
                                }
                .persons-class{display: block;}
            .regular-section{display: block;}

            .regular-section-mobile{display: none;}
            .regular-section-tablet{display:none;}
            .footer-container-mobile{display: none;}
            .footer-container-tablet{display: none;}
                        .footer-container {
                            width: 100%;
                            padding-top: 94px;
                            padding-bottom: 94px;
                            display: flex;
                            flex-direction: row;
                            align-items: baseline;
                        }
                        .filter-buttons-section-mobile{display: none;}
                        .filter-buttons-section{display: block;color: #212121;justify-content: center;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 1, 85%;
                            font-family: inherit;
                            transition: color var(--transition), background-color var(--transition), border var(--transition);}
                        .filter-objects-section-mobile{display: none;}
                                                .filter-objects-section {
                                                    display: flex;
                                                    flex-direction: row;
                                                }
                        
                                                .filter-objects-section ul {
                                                    display: flex;
                                                    flex-wrap: wrap;
                                                    justify-content: center;
                                                    gap: 30px;
                                                    padding-top: 50px;
                                                }
                        .filter-objects-section-tablet{display: none;}

}
